<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular" class="img-responsive center-block home-logo" src="assets/img/angular.svg" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h1>Good Jack</h1>
                <p>Donate for free by <strong>watching an ad</strong>
                    <br> <small>Together</small>
                </p>
                <p><a class="btn btn-primary btn-lg" href="#" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Assocations</h3></div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices mi quis libero congue, eu convallis est fermentum.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Projects</h3></div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices mi quis libero congue, eu convallis est fermentum.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Announcers</h3></div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices mi quis libero congue, eu convallis est fermentum.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Campaigns</h3></div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices mi quis libero congue, eu convallis est fermentum.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Causes</h3></div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices mi quis libero congue, eu convallis est fermentum.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Gallery</h3></div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices mi quis libero congue, eu convallis est fermentum.
                </div>
            </div>
        </div>
    </div>
</div>
