<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <img class="img-responsive" src="assets/img/logo.png" alt="App Logo" />
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-responsive" src="assets/img/logo-single.png" alt="App Logo" />
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a class="hidden-xs" trigger-resize="" (click)="toggleCollapsedSideabar()" *ngIf="!isCollapsedText()">
                    <em class="fa fa-navicon"></em>
                </a>
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a class="visible-xs sidebar-toggle" (click)="settings.layout.asideToggled =! settings.layout.asideToggled; $event.stopPropagation()">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
            <!-- START User avatar toggle-->
            <!--<li>-->
                <!--&lt;!&ndash; Button used to collapse the left sidebar. Only visible on tablet and desktops&ndash;&gt;-->
                <!--<a (click)="toggleUserBlock($event)">-->
                    <!--<em class="icon-user"></em>-->
                <!--</a>-->
            <!--</li>-->
            <!--&lt;!&ndash; END User avatar toggle&ndash;&gt;-->
            <!--&lt;!&ndash; START lock screen&ndash;&gt;-->
            <!--<li>-->
                <!--<a  title="Lock screen" [routerLink]="'/lock'">-->
                    <!--<em class="icon-lock"></em>-->
                <!--</a>-->
            <!--</li>-->
            <!-- END lock screen-->
        </ul>
        <!-- END Left navbar-->
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- Search icon-->
            <!--<li>-->
                <!--<a (click)="openNavSearch($event)">-->
                    <!--<em class="icon-magnifier"></em>-->
                <!--</a>-->
            <!--</li>-->
            <!--&lt;!&ndash; Fullscreen (only desktops)&ndash;&gt;-->
            <!--<li class="visible-lg">-->
                <!--<a #fsbutton (click)="toggleFullScreen($event)">-->
                    <!--<em class="fa fa-expand"></em>-->
                <!--</a>-->
            <!--</li>-->
            <!--&lt;!&ndash; START Alert menu&ndash;&gt;-->
            <!--<li class="dropdown dropdown-list" dropdown>-->
                <!--<a dropdownToggle>-->
                    <!--<em class="icon-bell"></em>-->
                    <!--<div class="label label-danger">11</div>-->
                <!--</a>-->
                <!--&lt;!&ndash; START Dropdown menu&ndash;&gt;-->
                <!--<ul *dropdownMenu class="dropdown-menu animated flipInX">-->
                    <!--<li>-->
                        <!--&lt;!&ndash; START list group&ndash;&gt;-->
                        <!--<div class="list-group">-->
                            <!--&lt;!&ndash; list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<div class="media-box">-->
                                    <!--<div class="pull-left">-->
                                        <!--<em class="fa fa-twitter fa-2x text-info"></em>-->
                                    <!--</div>-->
                                    <!--<div class="media-box-body clearfix">-->
                                        <!--<p class="m0">New followers</p>-->
                                        <!--<p class="m0 text-muted">-->
                                            <!--<small>1 new follower</small>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<div class="media-box">-->
                                    <!--<div class="pull-left">-->
                                        <!--<em class="fa fa-envelope fa-2x text-warning"></em>-->
                                    <!--</div>-->
                                    <!--<div class="media-box-body clearfix">-->
                                        <!--<p class="m0">New e-mails</p>-->
                                        <!--<p class="m0 text-muted">-->
                                            <!--<small>You have 10 new emails</small>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<div class="media-box">-->
                                    <!--<div class="pull-left">-->
                                        <!--<em class="fa fa-tasks fa-2x text-success"></em>-->
                                    <!--</div>-->
                                    <!--<div class="media-box-body clearfix">-->
                                        <!--<p class="m0">Pending Tasks</p>-->
                                        <!--<p class="m0 text-muted">-->
                                            <!--<small>11 pending task</small>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; last list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<small translate="topbar.notification.MORE">More notifications</small>-->
                                <!--<span class="label label-danger pull-right">14</span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END list group&ndash;&gt;-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; END Dropdown menu&ndash;&gt;-->
            <!--</li>-->
            <!--&lt;!&ndash; END Alert menu&ndash;&gt;-->
            <!--&lt;!&ndash; START Offsidebar button&ndash;&gt;-->
            <!--<li>-->
                <!--<a (click)="toggleOffsidebar(); $event.stopPropagation()">-->
                    <!--<em class="icon-notebook"></em>-->
                <!--</a>-->
            <!--</li>-->
          <li>
            <a routerLinkActive="active" [routerLink]="['/extras/settings']">
              <em class="icon-settings"></em>
            </a>
          </li>
            <!-- END Offsidebar menu-->
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->

    <app-navsearch [visible]="getNavSearchVisible()" (onclose)="setNavSearchVisible(false)"></app-navsearch>

</nav>
<!-- END Top Navbar-->
